In [5]:
# read in data with pandas
import pandas as pd
# use numpy for vector and matrix operations
import numpy as np
# composition is a custom made python file that generates composition-based feature vectors (CBFV)
import composition
# make nice figures
import matplotlib.pyplot as plt
# machine learnign algorithms
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [4]:
# read in band gap data from Zhou et al. publication:
# J. Phys. Chem. Lett., 2018, 9 (7), pp 1668â€“1673
#DOI: 10.1021/acs.jpclett.8b00124
#Publication Date (Web): March 13, 2018
df_band_gap = pd.read_excel('band_gap_data/jz8b00124_si_002.xlsx')

In [17]:
df_band_gap.head()

    composition  Eg (eV)
0  Hg0.7Cd0.3Te    0.350
1          CuBr    3.077
2           LuP    1.300
3      Cu3SbSe4    0.400
4           ZnO    3.436

In [39]:
# split the data into a training and test set
df_train = df_band_gap.sample(frac=0.75, random_state=1).sort_index()
df_test = df_band_gap[~df_band_gap.index.isin(list(df_train.index.values))]

In [40]:
df_train.head()

  composition  Eg (eV)
1        CuBr    3.077
3    Cu3SbSe4    0.400
4         ZnO    3.436
5       PtSb2    0.080
6     ZnIn2S4    2.680

In [41]:
df_test.head()

     composition  Eg (eV)
0   Hg0.7Cd0.3Te     0.35
2            LuP     1.30
14           BAs     1.46
15  Ba4Ga4GeSe12     2.18
18      AgIn5Te8     0.47

In [42]:
# rename columns for use with feature generation
df_train.columns = ['formula', 'target']
df_test.columns = ['formula', 'target']